.components-wrapper {
  cursor: pointer;
  padding: 5px;
  transition: background-color .3s;

  &--active,
  &:hover {
    background-color: #f1fffe;
  }
}

.component-form-wrapper {
  background-color: #f1f1f1;
  margin: 0 20px 20px;
  padding: 20px;
}

.component-field {
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 16px;
  }

  &__input {
    border: 0;
    font-size: 16px;
    margin: 15px 0;
    outline: 0;
    padding: 10px 5px;
  }
}

.component-button {
  border: 0;
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
  outline: 0;
  padding: 10px 20px;
  transition: background-color .3s;

  &:hover {
    background-color: #f1fffe;
  }

  &--remove {
    margin-left: 10px;

    &:hover {
      background-color: #ffd2d2;
    }
  }
}
